// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	font-family: @pfont;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
*, *:before, *:after {
	box-sizing: inherit;
  }
  h1, h2, h3, h4, h5 {
	font-size: 2rem;
	font-family: @hfont;
  }
  html, body {
	margin: 0 auto;
	max-width: 100%;
    height: 100%;
}
p{
	font-family: @pfont;
}

@import url('https://fonts.googleapis.com/css?family=McLaren|Yeon+Sung&display=swap');

@colorblue: darkblue;
@pfont: 'McLaren', cursive;
@hfont: 'Yeon Sung', cursive;
.text(){
	margin-left: 8%;
		color: black;
		text-align: left
}
.show(){
	width: 100%;
	display: flex;
}
.button-footer(){
	background-color: @colorblue;
			color: white;
}
html{
	max-width: 900px;
	box-sizing: border-box;
	background: lightcoral;
	font-size: 62.5%;
	
	@media (max-width: 500px){
		max-width: 500px;
		background: white;
		align-content: center;
	}//this close the query
	}//this closes the html, body
header {
	nav{
	margin: 0 auto;
	.show();
	justify-content: flex-end;

		@media (max-width: 500px){
			font-size: 4rem;
			text-align: center;
			display: flex;
			flex-direction: column;
		}//this closes the query
	
	a{
	color: black;
	text-decoration: none;
	margin: 3% 5% 0% 0%;
	
		@media (max-width: 500px){
			width: 100%;
			border: 1px solid black;

		}//this closes the query
	}//this closes the a tag
	}//this closes the nav
	a:hover{
		color: darkred;
		text-decoration: underline;
		@media (max-width: 500px){
			color: darkmagenta;
	}//this closes the query
}//this closes the a:hover
}
.header-content{
	background-color: antiquewhite;
	margin: 3% auto;
	padding: 3% 0;
	@media (max-width: 500px){
		width: 100%;
		padding: 0 0 3% 0;
		margin: 0;
	}
	.image{
		overflow: hidden;
		.show();
		@media (max-width: 500px){
			margin-left: 0;
			background-color: black;
			border: 2px solid white;
	}//this closes the query
			img{
				width: 50vh;
				margin: 0 24%;
			}//this closes the img tag
		}//this closes the .image
	.header-text{
		margin-top: 3%;
		padding: 3%;
		@media (max-width: 500px){
			margin: 0 5% 0 5%;
			font-size: 2rem;
		}//this closes the query
			h1{
			font-size: 8rem;
			margin-bottom: 2%;
			@media (max-width: 500px){
				font-size: 4rem;
			}//this closes the query
		}//this closes the h1
			p{
				font-size: 2.5rem;
			@media (max-width: 500px){
				font-size: 1.5rem;
			}//this closes the query			
		}//this closes the p
	}//this closes the .header text
		button{
			margin-left: 3%;
			padding: 2%;
			.button-footer();
			font-size: 2rem;

			@media (max-width: 500px){
				margin-left: 8%;
				background-color: black;
				color: white;
				font-size: 2rem;
			}//this closes the query
	}//this closes the button
}//this closes the .header-content
.middle-content{
	border: 2px solid white;
	padding: 5% 0%;
	background: black;
	@media (max-width: 500px){
		padding-bottom: 7%;
		width: 100%;
	}//this closes the query

	h2{
		color: white;
		text-align: center;
		font-size: 5.5rem;
		margin-bottom: 3%;
	}//this closes the h2
	a{
	.show-work{
		margin: 4% 0 0 8%;
		@media (max-width: 500px){
			height: 84%;
			width: 84%;
		}//this closes the query
	}//this close the img
	.show-work2{
		margin: 8% 0 0 8%;
		@media (max-width: 500px){
			height: 84%;
			width: 84%;
			margin-top: 4%;
		}
	}//this closes .show-work2
}//this closes the a tag
}//this closes the .middle-content

.bottom-content{
	h2{
		margin-top: 3%;
		.text();
		font-size: 3rem;

		@media (max-width: 500px){
			font-size: 3rem;
			margin-left: 0;
			text-align: center;
		}//this closes the query
	}//this close the h2
	ul{
		margin-left:10%;
		padding: 2%;
		font-size: 2rem;

		@media (max-width: 500px){
			font-size: 1.4rem;
			margin-right: 10%;
		}//this closes the query 
	}//this close the ul
	li {
		padding-bottom: 2%; 
		@media (max-width: 500px){
			padding-bottom: 4%;
			margin-top: 1%;
		}
	}
	li::before{
		content: "\002022";
		color: rgb(104, 104, 104);
	}
}
.contact{
	@media (max-width: 500px){
		text-align: center;
	}
	
	h2{
		margin-top: 2%;
		.text();
		margin-left: 8%;
		font-size: 3rem;

		@media (max-width: 500px){
			margin: 0;
			text-align: center;
			padding: 2%;
			font-size: 2rem;
		}
	}
	p{
		margin-top: 2%;
		margin-left: 8%;
		font-size: 2rem;

		@media (max-width: 500px){
			margin: 0;
			padding: 0.5%;
			font-size: 1.2rem;
		}
	}
}
footer{
	margin-top: 4%;
	text-align: center;
	font-size: 0.8rem;
	padding: 2%;
	.button-footer();
	font-size: 1.5rem;

	@media (max-width: 500px){
		margin-left: 0%;
		font-size: 1rem;
	}
}
